.main {
  .introduction {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #212128;
    color: #fff;

    &__title {
      font-size: 5rem;
      line-height: 1;

      margin-bottom: 1rem;
    }

    &__subtitle {
      font-size: 2rem;
    }

    &__img {
      width: 35vw;
    }

    &__socials {
      position: absolute;
      bottom: 2rem;
      left: 2rem;

      display: flex;
      align-items: center;
      gap: 1.5rem;

      list-style: none;

      font-size: 3rem;

      .social {
        &__link {
          display: flex;
          justify-content: center;
          align-items: center;

          text-decoration: none;

          color: grey;
        }

        &__icon {
          width: 2.5rem;
          height: 2,5rem;
        }
      }
    }
  }
}
