.main {
  .prices {
    min-height: auto;
    height: auto;

    padding-top: 6rem;
    padding-bottom: 6rem;

    background: #282b30;
    color: #fff;

    &__title {
      font-size: 5rem;
    }

    &__subtitle {
      font-size: 2.5rem;
    }

    &__img {
      height: 70vh;
    }

    &__variants {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 8rem;

      width: 100%;

      margin-top: 2rem;

      list-style: none;

      .variant {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 2rem;

        width: 33%;

        border-radius: 1rem;

        border: 1px solid darken(#fff, 5%);

        box-shadow: 5px 5px 5px 0 rgba(#da431a, 0.08);

        transition: all .4s;

        &:hover {
          transform: translateY(-15px) scale(1.04) !important;

          border-color: darken(#da431a, 5%);

          box-shadow: 5px 5px 5px 0 rgba(#da431a, 0.1);

          cursor: pointer;
        }

        &__title {
          margin-bottom: 0.5rem;

          font-size: 4rem;
          font-weight: 300;
        }

        &__button {
          padding: 1rem 2.5rem;

          font-size: 1.7rem;
          font-weight: 700;

          border: 0.1rem solid #000;
          border-radius: 0.5rem;
          background-color: #da431a;

          &:hover {
            cursor: pointer;
          }

          &-link {
            color: inherit;
            text-decoration: none;
          }
        }

        .price {
          margin-bottom: 1rem;

          font-weight: 500;

          &__value {
            font-size: 2rem;
          }

          &__currency {
            font-size: 1.5rem;
            font-weight: 700;
          }

          &__term {
            font-size: 2rem;
          }
        }

        &__privileges {
          margin-bottom: 2rem;

          list-style: none;

          text-align: center;

          font-size: 2rem;
          font-weight: 300;
        }

        .privileges {
          &__item {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
