html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

button {
  color: inherit;
}

li {
  margin: 0 0 0 0.5rem;
  padding: 0;
}

img {
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
}
